h1
{
	background-color: #504DC1;
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	color: white;
	text-align: center;
	width: 55%;
	height: 40px;
	margin: auto;
	margin-top: 30px;
}
h2
{
	
	text-align: center;
	margin-top: 70px;
	margin-bottom: 15px;
	font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
}
.comptes
{
	width: 50%;
	margin: auto;
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

a
{
	border-color: #504DC1;
	border-radius: 10px;
	border-style: solid;
	
	height: 50px;
	width: 30%;
	padding: 10px 10px 10px 10px;
	margin: auto;
	margin-right: 15px;

	transition: all 0.2s ease 0s; /*permet de définir la vitesse de la transistion*/
	text-decoration: none;
	color: #504DC1;
	font: 20px bold;
	font-family: "Nunito Sans", sans-serif;
	text-align: center;
}
a:hover
{
	box-shadow: 4px 4px #FFD007;
	transform: translate(-3px, -3px); /*transistion (déplacement) de l'élément au survol souris*/
}

form 
{
	border-color: #504DC1;
	border-radius: 10px;
	border-style: solid;
	width: 50%;
	margin: auto;
	padding: 3%;
}
label {
  	width: 200px;
  	display: inline-block;
  	margin-left: 10%;
}
 
em {
  	font-weight: bold;
  	font-style: normal;
  	color: #f00;
}

input {
  	width: 249px;
  	height: 20px;
  	/*text-decoration: none;*/
  	border: solid #504DC1 2px ;
  	border-radius: 5px;
  	margin-bottom: 7px;
  	margin-left: 10%;
}

.validation
{
	margin-left: 40%;
	margin-top: 20px;

}
.validation input
{
  	width: 100px;
	
	height: 25px;	
}

.selection_type_compte
{
	width: 220px;
}
#temps_blocage
{
	width: 50px;
}

#type_compte
{
	margin-left: 7%; 
}